In [1]:
import pandas as pd
import numpy as np

In [2]:
data_preprocessed = pd.read_csv('preprocessed.csv')

In [3]:
data_preprocessed.head()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating,A,B,...,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet,Day of week
0,74.69,7,26.1415,548.9715,522.83,4.761905,26.1415,9.1,1,0,...,0,0,0,1,0,0,0,0,1,5
1,15.28,5,3.8200,80.2200,76.40,4.761905,3.8200,9.6,0,0,...,1,0,0,0,0,0,1,0,0,4
2,46.33,7,16.2155,340.5255,324.31,4.761905,16.2155,7.4,1,0,...,0,0,0,0,1,0,0,1,0,6
3,58.22,8,23.2880,489.0480,465.76,4.761905,23.2880,8.4,1,0,...,0,0,0,1,0,0,0,0,1,6
4,86.31,7,30.2085,634.3785,604.17,4.761905,30.2085,5.3,1,0,...,0,0,0,0,0,1,0,0,1,4

In [4]:
data_preprocessed['Rating'].median()

7.0

In [5]:
targets = np.where(data_preprocessed['Rating'] > 
                  data_preprocessed['Rating'].median(),1 ,0)

data_preprocessed['Class'] = targets

data_preprocessed.head()

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating,A,B,...,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet,Day of week,Class
0,74.69,7,26.1415,548.9715,522.83,4.761905,26.1415,9.1,1,0,...,0,0,1,0,0,0,0,1,5,1
1,15.28,5,3.8200,80.2200,76.40,4.761905,3.8200,9.6,0,0,...,0,0,0,0,0,1,0,0,4,1
2,46.33,7,16.2155,340.5255,324.31,4.761905,16.2155,7.4,1,0,...,0,0,0,1,0,0,1,0,6,1
3,58.22,8,23.2880,489.0480,465.76,4.761905,23.2880,8.4,1,0,...,0,0,1,0,0,0,0,1,6,1
4,86.31,7,30.2085,634.3785,604.17,4.761905,30.2085,5.3,1,0,...,0,0,0,0,1,0,0,1,4,0

# Add target class to dataframe

In [6]:
labled_df = data_preprocessed.copy()

# Scale Data

In [7]:
df_columns = labled_df.columns.view()

df_columns

Index(['Unit price', 'Quantity', 'Tax 5%', 'Total', 'cogs',
       'gross margin percentage', 'gross income', 'Rating', 'A', 'B', 'C',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Member', 'Normal', 'Female', 'Male',
       'Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel', 'Cash',
       'Credit card', 'Ewallet', 'Day of week', 'Class'],
      dtype='object')

In [8]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

scaler = MinMaxScaler()

df_scaled = scaler.fit_transform(labled_df.to_numpy())
df_scaled = pd.DataFrame(df_scaled, columns=['Unit price', 'Quantity', 'Tax 5%', 'Total', 'cogs',
       'gross margin percentage', 'gross income', 'Rating', 'A', 'B', 'C',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Member', 'Normal', 'Female', 'Male',
       'Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel', 'Cash',
       'Credit card', 'Ewallet', 'Day of week', 'Class'])


df_scaled_ready = df_scaled.copy()

target = df_scaled_ready['Class']

df_scaled_ready.drop(['Class'], axis=1)

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating,A,B,...,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet,Day of week
0,0.718847,0.666667,0.521616,0.521616,0.521616,0.0,0.521616,0.850000,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.833333
1,0.057855,0.444444,0.067387,0.067387,0.067387,0.0,0.067387,0.933333,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.666667
2,0.403316,0.666667,0.319628,0.319628,0.319628,0.0,0.319628,0.566667,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.000000
3,0.535603,0.777778,0.463549,0.463549,0.463549,0.0,0.463549,0.733333,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.000000
4,0.848131,0.666667,0.604377,0.604377,0.604377,0.0,0.604377,0.216667,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.336782,0.000000,0.030707,0.030707,0.030707,0.0,0.030707,0.366667,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.166667
996,0.971295,1.000000,0.980465,0.980465,0.980465,0.0,0.980465,0.066667,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.833333
997,0.242101,0.000000,0.022049,0.022049,0.022049,0.0,0.022049,0.616667,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.833333
998,0.620160,0.000000,0.056622,0.056622,0.056622,0.0,0.056622,0.016667,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.666667
999,0.870717,0.666667,0.618835,0.618835,0.618835,0.0,0.618835,0.433333,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.000000

# Train and test split

In [9]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(df_scaled_ready, targets, train_size= 0.8, random_state= 20)

print(x_train.shape, y_train.shape)

print(x_test.shape, y_test.shape)

(800, 29) (800,)
(200, 29) (200,)

# Train regression machine

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

reg = LogisticRegression()

reg.fit(x_train, y_train)

reg.score(x_train, y_train)

1.0

# Reverse MinMaxScaler effect

In [11]:
model_outputs = reg.predict(x_train)

df_final = x_train

final = pd.DataFrame(scaler.inverse_transform(x_train))

final.columns = ['Unit price', 'Quantity', 'Tax 5%', 'Total', 'cogs',
       'gross margin percentage', 'gross income', 'Rating', 'A', 'B', 'C',
       'Mandalay', 'Naypyitaw', 'Yangon', 'Member', 'Normal', 'Female', 'Male',
       'Electronic accessories', 'Fashion accessories', 'Food and beverages',
       'Health and beauty', 'Home and lifestyle', 'Sports and travel', 'Cash',
       'Credit card', 'Ewallet', 'Day of week', 'Class']

final['prediction'] = model_outputs

final

,Unit price,Quantity,Tax 5%,Total,cogs,gross margin percentage,gross income,Rating,A,B,...,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel,Cash,Credit card,Ewallet,Day of week,Class,prediction
0,88.45,1.0,4.4225,92.8725,88.45,4.761905,4.4225,9.5,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1
1,29.22,6.0,8.7660,184.0860,175.32,4.761905,8.7660,5.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0
2,90.50,10.0,45.2500,950.2500,905.00,4.761905,45.2500,8.1,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,1.0,1
3,22.01,4.0,4.4020,92.4420,88.04,4.761905,4.4020,6.6,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0
4,83.77,6.0,25.1310,527.7510,502.62,4.761905,25.1310,5.4,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,35.22,6.0,10.5660,221.8860,211.32,4.761905,10.5660,6.5,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,3.0,0.0,0
796,12.54,1.0,0.6270,13.1670,12.54,4.761905,0.6270,8.2,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1
797,21.12,2.0,2.1120,44.3520,42.24,4.761905,2.1120,9.7,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1
798,64.44,5.0,16.1100,338.3100,322.20,4.761905,16.1100,6.6,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,0.0,0
799,89.14,4.0,17.8280,374.3880,356.56,4.761905,17.8280,7.8,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1

In [12]:
final.to_csv('final_prediction.csv')